#<value>	<dbkey>	<name>
Arabidopsis_thaliana	Arabidopsis_thaliana	Arabidopsis thaliana
Drosophila_melanogaster	Drosophila_melanogaster	Drosophila melanogaster
Homo_sapiens	Homo_sapiens	Homo sapiens
Mus_musculus	Mus_musculus	Mus musculus
Paramecium_tetraurelia	Paramecium_tetraurelia	Paramecium tetraurelia
Rattus_norvegicus	Rattus_norvegicus	Rattus norvegicus